ion-card-title {
    color: #ff4081;
}

ion-card-subtitle {
    color: #ff4081;
    width: 73%;
}

ion-content {
    --background: #ff4081;
}

ion-card-header {
    display: flex;
    justify-content: center;
}

.verMas {
    display: flex;
    justify-content: center;
    color: #ff4081;
}

.descripcion {
    padding: 5%;
}

.botonAdd {
    border-radius: 50%;
    color: #333333;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fechaTarjeta {
    display: flex;
}

.txt {
    color: #333333;
}

.fecha {
    color: #ff4081;
}

.eliminar {
    position: fixed;
    padding-left: 65%;
    color: #e57373;
    font-size: 15px;
}