<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{ titulo }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div>
        <ion-card *ngFor="let tarea of tareas; let i = index">
            <ion-card-header>
                <ion-card-subtitle>{{tarea.nombre}}</ion-card-subtitle>
                <ion-button (click)="eliminarTarea(i)" fill="clear" class="eliminar">Eliminar</ion-button>
            </ion-card-header>

            <ion-card-content>
                <div class="fechaTarjeta">
                    <p class="txt">Fecha:</p>
                    <p class="fecha">{{tarea.mes}} {{tarea.anio}}</p>
                </div>
            </ion-card-content>

            <ion-accordion-group>
                <ion-accordion value="detalles">
                    <ion-item slot="header" color="light">
                        <ion-label class="verMas">+ Ver más detalles</ion-label>
                    </ion-item>
                    <div class="descripcion" slot="content">{{tarea.descripcion}}</div>
                </ion-accordion>
            </ion-accordion-group>
        </ion-card>

    </div>

    <ion-fab>
        <ion-fab-button (click)="setOpen(true)" class="botonAdd" color="secondary">+</ion-fab-button>
    </ion-fab>
    <ion-modal [isOpen]="isModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Agregar Tarea</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="setOpen(false)">Close</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <app-agregar-tarea></app-agregar-tarea>
            </ion-content>
        </ng-template>
    </ion-modal>

</ion-content>