.nombre {
    padding-top: 8%;
    padding-left: 13%;
    padding-right: 13%;
}

.fecha {
    padding-top: 5%;
    padding-left: 13%;
    padding-right: 13%;
}

.descripcion {
    padding-top: 5%;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 8%;
}

.botonAgregar {
    padding-left: 13%;
    padding-right: 13%;
}

.selector {
    display: flex;
}

.selectorMes {
    margin-right: 10%;
}

.formularioVentana {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding-top: 10%;
}